.add-table {
  float: left;
  &__column {
     height: 69px;
     border-top: 1px solid #cdcdcd;
     border-bottom: 1px solid #cdcdcd;
     &:first-of-type {
      width: 325px;
      text-transform: uppercase;
      font-size: 18px;
    }
    &:nth-of-type(2) {
      width: 245px;
    }
    &:nth-of-type(3) {
      width: 80px;
    }
    &:nth-of-type(4) {
      width: 245px;
      vertical-align: top;
    }
  }
}