.add-info {
  display: flex;
  justify-content: center;
  width: 245px;
  margin-top: 87px;
  min-height: 290px;
  margin-left: 977px;
  margin-bottom: 82px;
  background: url('../img/gift.svg.webp') no-repeat 50% 60px,
              url('../img/gift-photo-desktop.jpg.webp') no-repeat 100% 100%;
  &__text {
    margin-top: 186px;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 160px;
  }
}