.extra {
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__item {
    display: flex;
    align-items: center;
    &:active {
      opacity: 0.4;
    }
  }
  &__info {
    margin-left: 84px;
  }
  &-button {
    width: 568px;
    margin-left: 0px;
    margin-bottom: 82px;
  }
  &-prop {
    &__text {
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 19px;
    }
    &__input {
      width: 40px;
      height: 40px;
      &[type=checkbox] {
        display: block;
        width: 30px;
        height: 30px;
        -webkit-appearance: none;
        outline: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        &:not(:checked) {
          background-image: url('../img/checkbox.webp');

        }
        &:checked {
          background-image: url('../img/checkbox.webp'),
                        url('../img/tick.svg.webp');
          background-size: 30px, 21px;
          border-radius: 1px solid green;
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    &-button {
      margin-left: 0px !important;
      width: 283px;
    }
    &__list {
      justify-content: space-between;
      width: 530px;
      height: 112px;
      flex-wrap: wrap;
      font-size: 20px;
      flex-direction: column-reverse;
    }
    &-prop {
      &__input {
        &[type=checkbox] {
          width: 40px;
          height: 40px;
          &:not(:checked) {
            width: 40px;
            height: 40px;
          }
          &:checked {
            background-size: 40px, 30px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    &-button {
      width: 280px;
      margin-left: 0px !important;
      margin-bottom: 23px !important;
    }
    &__info {
      margin-left: 62px;
    }
    &__item {
      margin-bottom: 13px;
    }
    &__list {
      width: 530px;
      min-height: 160px;
      font-size: 20px;
      margin-bottom: 25px;
      flex-direction: column;
    }
    &-prop {
      &__input {
        &[type=checkbox] {
          &:not(:checked) {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}

