.info {
  display:inline-block;
  &__text {
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 76px;
      width:150px;
    }
  &__street {
      color: #858585;
      font-size:16px;
      font-family: Oswald;
      margin-right: 80px;
  }
  @media screen and (max-width: 767px) {
    &_theme {
      &_gray {
        background-color: #f2f2f2 !important;
      }
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    &__text {
      font-size: 14px;
      text-transform: uppercase;
      width:122px;
      margin: 0px;
      padding: 0px;
      margin-left: 20px;
    }
    &__street {
      color: #858585;
      font-size:16px;
      font-family: Oswald;
      margin: 0px;
      width: 135px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    &_theme {
      &_gray {
        background-color: #f2f2f2 !important;
      }
    }
  }
}