.logo-developer {
  &__link {
    text-decoration: none;
    color: #808080;
  }
  &__logo {
    margin-left: 23px;
    vertical-align: middle;
  }
  @media screen and (max-width: 767px) {
    .logo-developer {
      width: 320px;
      margin: 0 20px;
      &__logo {
        margin-left: 100%;
      }
    }
  }
}