.navigation {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    display: flex;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.5;
    }
  }
}
