.product {
  &__logo {
    display: flex;
    justify-content: center;
    &_size_small {
      margin-top: -20%;
    }
    &_size_big {
      margin-top: -30%;
    }
    &_theme_last {
      margin-top: 54px;
    }
  }
  &__image {
    float: left;
    display: block;
    &_size_small {
      height: 172px;
    }
    &_size_big {
      height: 195px;
    }
  }
  &__heading {
    margin: 0 auto;
    text-align: center;
    width: 140px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 26px;
    &_theme_last {
      margin-top: 51px;
    }
  }
  &__option {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #cdcdcd;
      width: 169px;
      padding-bottom: 8px;
      margin-bottom: 9px;
  }
  &__button {
    width: 169px;
    height: 40px;
    background-color: #68b738;
    border: 0px;
    margin-left: 38px;
    margin-top: 20px;
    color: white;
    font-family: 16px;
    text-transform: uppercase;
    &_margin-bottom {
      margin-bottom: 40px;
    }
    &_theme_last {
      margin-top: 72px;
      background-color: #f2f2f2;
      color: #444444;
      &:active {
        background-color: #ebebeb;
      }
    }
    &_width_large {
      width:245px;
    }
    &_active_lighten {
      &:focus {
        color:#c3c3c3;
        background-color:#ebebeb;
      }
    }
  }
  &__text {
    &_theme_last {
      margin-top: 30px;
      width: 166px;
      display: flex;
      margin-left: 38px;
      text-align: center;
    }
  }
  @media screen and (min-width: 1440px) {
    &__button {
      &_additional {
        display: none;
      }
    }
    &__logo {
      &_theme {
        &_last {
          svg:not(:first-of-type) {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    border: 1px solid #ededed;
    background-color: white;
    &__button {
      width: 280px;
      margin: 0px;
      margin-left: 19px;
    }
    &__image {
      width: 144px;
      height: 140px;
    }
    &__list {
      float: right;
      margin-top: -70px;
      margin-right: 19px;
    }
    &__option {
      width: 141px;
      font-size: 12px;
      border-bottom: 0px;
      margin-bottom: 6px;
      padding: 0px;
    }
    &__heading {
      text-align: left;
      width: 75px;
      float: right;
      font-size: 14px;
      margin: 0px;
      margin-right: 87px;
      margin-top: 24px;
      display: inline-block;
      &_theme_last {
        width: 202px;
        margin: 0px;
        float: none;
        margin-left: 59px;
        margin-bottom: 14px;
      }
    }
    &__text {
      &_theme_last {
        margin: 0px;
        margin-left: 49px;
        font-size: 14px;
        width: 220px;
        margin-bottom: 25px;
      }
    }
    &__logo {
      display: inline-block;
      &_size {
        &_small {
          margin-top: 0px;
        }
        &_big {
          margin-top: 0px;
        }
      }
      &_theme {
        &_last {
          margin-top: 0px;
          svg {
            width: 30px; 
            height: 30px;
            margin-left: 144px;
            margin-top: 26px;
            margin-bottom: 26px;
            &:not(:nth-of-type(2)) {
              display: none;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    &__logo {
      &_theme {
        &_last {
          svg:not(:nth-of-type(1)) {
            display: none;
          }
        }
      }
    }
    &__option {
      width: 249px;
    }
    &__heading {
      margin-top: 30px;
    }
    &__button {
      width: 249px;
      margin: 0px;
      margin-left: 37px;
      margin-bottom: 72px;
      &_width_large {
        width: 633px;
      }
      &_main {
        display: hidden;
        border-right: 1px solid red;
      }
      &_additional {
        &-heading {
          display: block;
          margin-bottom: 27px;
          td {
            border: 0px;
          }
        }
        display: block;
        margin-bottom: 27px;
        td {
          border: 0px;
        }
      }
    }
    &__text {
      &_theme_last {
        margin-left: 79px;
        margin-bottom: 60px;
      }
    }
    &__logo {
      &_theme {
        &_last {
          margin-top: 54px;
        }
      }
    }
  }
}

